:root {
    --color-background: #F3F5FC;
    --color-text-message-blue: #0A3871;
    --color-alert: #FF5B33;
    --color-button-blue: #0A3871;

}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: var(--color-background);
    font-family: 'Inter', sans-serif;
}

.container {
    height: 100vh;
    margin: 0 auto;
    display: flex;
    align-items: center;
    padding: 3em 0 5em 0;
}

/* logo */
.main__logo {
    min-width: 10vw;
    height: 100%;
    display: flex;
    flex-direction: column;
}

/* textarea */
.main__text {
    padding-top: 4em;
    min-height: 60vh;
    height: 100%;
    width: 60vw;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.main__textarea {
    width: 100%;
    height: 100%;
    padding: 40px;
    resize: none;
    border: 0;
    background-color: var(--color-background);
    font-size: 32px;
    outline: none;
    overflow-wrap: break-word;
}

.main__textarea, .main__textarea:focus {
    color: var(--color-text-message-blue);

}

.main__textarea::placeholder {
    color: var(--color-text-message-blue);
    font-size: 32px;
}

/* main__footer__buttons */
.main__buttons {
    display: flex;
    padding: 1em 0;
    justify-content: center;
}

.main__button {
    border-radius: 1.2em;
    width: 100%;
    height: 60px;
    cursor: pointer;
    margin-right: 0.75em;
    font-size: 20px;
    border: 2px solid var(--color-button-blue);
}

.main__button__primary {
    background-color: var(--color-button-blue);
    color: #FFFFFF;
}

.main__button__primary:hover {
    transform: scale(0.9);
}

.main__button__secondary {
    background-color: initial;
}

.main__alert--show {
    color: var(--color-alert);
}

.text__decrypt__alert {
    border: 2px solid var(--color-alert);
}

.copied {
    background-color: green;
    color: #fff;
    border: 1px solid #fff
}

#buttonCopy {

    display: none;
}

/* aside */
.container__aside {
    width: 30%;
    height: 90vh;
    padding: 30px;
    background-color: #FFFFFF;
    border-radius: 25px;
    box-shadow: 0px 24px 32px -8px rgba(0, 0, 0, 0.08);
    overflow: hidden;
    text-align: center;
    margin: 0 3em;
}

.aside__content {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.aside__h2 {
    margin: 1em;
    font-size: 1.5em;
    line-height: 1em;
    font-weight: 600;
    padding: 0 1.5em;
}

.aside__message {
    width: 100%;
    height: 100%;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    word-wrap: break-word;
}

.aside__message__result {
    width: 100%;
    line-height: 150%;
 
}


/* Media queries */
@media (max-width: 480px) {
    .container {
        height: auto;
    }

    .main__logo img {
        width: 100px;
    }

    .main__buttons {
        flex-direction: column;
    }

    .main__button {
        margin: 0;
        margin-top: 1em;
    }

    .main__text {
        min-height: 100vh;
        padding: 0;
    }

    .container__aside {

        padding: 10px;
    }

    .main__textarea::placeholder {
        font-size: 25px;
    }

    .aside__h2 {
        font-size: 20px;
    }

    .main__alert {
        font-size: 10px;
    }
}

@media (max-width: 1024px) {
    .container {
        padding: 1em;
    }

    main {
        width: 100%;
        flex-direction: column;
    }

    .main__logo {
        width: 100%;
        height: 100px;
        top: 50px;
        left: 0px;
        z-index: 1;
        position: absolute;
    }

    .main__logo img {
        width: 100px;
    }

    .main__text {
        width: 100%;
        margin-bottom: 2em;
    }

    .main__textarea {
        padding: 20px;
        margin-top: 3em;
    }

    .aside__img {
        display: none;
    }

    .container__aside {
        width: 100%;
        height: 100%;
        margin-bottom: 2em;
    }

}